<ion-header >
  <ion-toolbar >
    <ion-title class="containerHeaderMinMenu">
      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-end">
          <ion-col size="2"  >
           
             <!-- <ion-img [src]="this.imgUrl" class="minMenuBrand "></ion-img>-->
              <img src="assets/img/Group_5_1.png"  class="minMenuBrand " alt="" >
              
             
            
          </ion-col>
         <ion-col size="6" class="ion-justify-content-start" >
           <span class="ByensKokkenHeader " >Byens Køkken</span> 
               
             
           
          </ion-col>
          <ion-col size="4" class="ion-justify-content-start" >
             
                
              
            
           </ion-col>
        </ion-row>
        
       
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<div class="ion-padding">
    Hello CREAVI!.
    
  </div>-->
  <ion-grid class="h-100" >
   
    <ion-row class="ion-align-items-center ion-justify-content-center h-70" >
      <ion-col size="2" >
        
      </ion-col>
      <ion-col size="8" class="ion-justify-content-center" 
      >
        
      <ion-input placeholder="Brugernavn" class="inputUsername"></ion-input>
      <ion-input placeholder="Adgangskode" class="inputPassword"></ion-input>
      <ion-button size="small" class="LoginBtn" color="#5B7B12"> Log ind</ion-button>
      
      </ion-col>
      <ion-col size="2" >
        
      </ion-col>
   
    </ion-row>
    <!--<ion-row class="ion-align-items-center ion-justify-content-center h-20">
      <ion-col size="5" >
        
      </ion-col>
      <ion-col size="2" class="ion-justify-content-center " 
      >
        
      <ion-button  class="LoginBtn" color="#5B7B12"> Log ind</ion-button>
       
      </ion-col>
      <ion-col size="5" >
        
      </ion-col>
      
    </ion-row>-->
  </ion-grid>
</ion-content>
