.ByensKokkenHeader{
	
	font-family: 'Oswald', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 28px;
	line-height: 32px;
	

	color: #FFFFFF;
	cursor: pointer;
	/*border:0;
    outline: 0;*/
   
    
} 

.containerHeaderMinMenu{
	
	background: #8FBF21;
	/*height: 63px; 
    margin-bottom: 1px;*/
    
}
.minMenuBrand{
    
	cursor: pointer;
	width: 100%;
	height: 100%;
    /*margin-bottom: 2px;
    margin-right: 5px;*/
    /*transform: scale(5.0, 5.0);*/

}
.LoginBtn{
	
    width: 100%;
    /*width: 120px;*/
	height: 40px;
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	
	/*align-items: center;
	text-align: center;*/

	color: #FFFFFF;
	background-color: #5B7B12 !important;
    border-radius: 5px;
    margin:auto;

}
