<ion-header>
  <ion-toolbar class="ion-justify-content-center"> 
    <!--<ion-title>Velkommen!</ion-title>-->
    <ion-grid class="">
    
      <ion-row class="ion-align-items-center h-100" >
        <ion-col size="3"  >
          
        </ion-col>
        <ion-col size="6" class=""      >
          
          <img src="assets/img/Group-3-1.png">
        
        </ion-col>
        <ion-col size="3"  >
          
        </ion-col>
     
      </ion-row>
      
    </ion-grid>
      
    
    
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid class="h-100 splashContainer">
    
    <ion-row class="ion-align-items-center h-70" >
      <ion-col size="2" >
        
      </ion-col>
      <ion-col size="8" class=""     >
        
      <img src="assets/img/logoCreavi.png" class="logoImg "  >
      
      </ion-col>
      <ion-col size="2" >
        
      </ion-col>
   
    </ion-row>
    <ion-row class="ion-align-items-center h-30" >
      <ion-col size="2" >
        
      </ion-col>
      <ion-col size="8" class=""     >
        
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
      
      </ion-col>
      <ion-col size="2" >
        
      </ion-col>
   
    </ion-row>
    
  </ion-grid>
</ion-content>
